@use 'variaveis' as v;
@use 'mixins' as m;

/* Seções */
.section {
  padding: v.$espacamento 0;

  &__title {
    font-size: 1.6rem;
    color: v.$rosa;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1rem;
    color: v.$texto;
  }
}

/* Card */
.card {
  background: white;
  padding: m.half(v.$espacamento);
  border-radius: v.$radius;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* Botões */
.button {
  @include m.button-base(v.$rosa);

  &--secondary {
    @include m.button-base(v.$prata, v.$preto);
  }
}