@use 'variaveis' as v;
@use 'mixins' as m;

/* Container */
.container {
  @include m.container();
}

/* Header */
.header {
  background: v.$rosa;
  color: white;
  padding: 1.2rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__title { font-size: 1.4rem; }
  &__subtitle { font-size: 1rem; opacity: 0.8; }
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list { display: flex; gap: 1.25rem; }
  &__link {
    color: white;
    &:hover { color: v.$prata; }
  }
}