body{
    font-family: 'roboto', 'Arial', 'sans-serif';
}
header h1 {
    text-align: center;
    padding-top: 25px;

}
.oi {
    padding: 15px;
    margin: 8px auto;
    border: 2px solid gold;
    box-shadow: 0 4px 10px rgba(5, 0, 0, o.1);
    border-radius: 8px;
}
.c {
    text-align: center;
    margin: 6px;
 }

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li a {
    color: red;
    text-decoration: none;
    transition: 0.3s ease;
}
header ul li a:hover {
    color: bisque;
}
main a{
    text-decoration: none;
    color: red;
}
main a:hover {
    color: bisque;
}
