
h1{

    color: rgb(131, 5, 5);
    cursor: default;
    text-align: center;
    font-size: 50px;
    margin: 30px;
    padding: 20px;
    
}
.back{
    background-color: aliceblue;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    min-width: 150px;
}

.sem{
    display: flex;
    gap: 50px;
}

ul {
    list-style: disc;
    padding-left: 20px;
    
}